* {
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4;
}

.btn {
  border: 1px solid #9f9f9f;
  font-size: 16px;
  /* padding: 4px 8px; */
  /* nustatom em vienetais kurie priklauso nuo font-size */
  padding: 0.25em 0.5em;
  border-radius: 4px;
  display: block;
  /* margin-bottom: 10px; */
  margin-bottom: 1em;
}
.lg {
  font-size: 28px;
  /* padding: 8px 16px; */
}
.xl {
  font-size: 50px;
  /* padding: 12px 24px; */
}
